@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: "Roboto", sans-serif;

}

.calendar {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  border: #757575 0.4rem dashed;
}

.preview_calendar {
  /* background-color: #2C7BE5; */
  background-image: url(img/background.png);
  background-size: 100% 100%;
  overflow: auto;
  /* width: 676px;
  height: 955px; */

  width: 297mm;
  height: 420mm;

  /* width: 3508px;
  height: 4961px; */
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 14px;
  cursor: pointer;
}

.month h1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 14px;
}



.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.weekdays>div, .days>div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
}

.weekdays>div {
  font-size: 22px;

}

.days>div {
  font-size: 36px;
  font-weight: 500;
}


.days-holiday {
  color: #E63757;
  font-weight: bold;
}

/* .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  } */

.prev-date,
.next-date {
  opacity: 0.5;
}

/* .today {
    background-color: #167e56;
  } */


.image_prev {
  height: 50%;
  /* height: 210mm; */
  overflow: hidden;
  /* background-color: #909090a1; */
  position: relative;
  padding: 3.5rem;
}

.img_prev_blank {
  width: 100%;
  height: 100%;
  /* Установите высоту и ширину на 100% */
  object-fit: cover;
  /* Используйте object-fit: cover для сохранения пропорций */
  border-radius: 30px;
  border: #757575 0.4rem dashed;
  cursor: pointer;
}


.calendar_prev {
  width: 100%;
  /* background-color: #167e568f; */
  height: 50%;
  overflow: hidden;
  position: relative;
  padding: 3.5rem;
}

.preview_data {
  margin: 2.8rem;
  margin-bottom: 0.8rem;
  margin-top: 1.5rem;
  /* padding-top: 1rem; */
  color: #252A34;
  display: flex;
  justify-content: space-between;
}

.pd1 {
  font-size: 24px !important;
  font-weight: 500;
  margin-bottom: 0;
  /* text-transform: uppercase; */
}


.card-holiday {
  width: 100%;
  font-size: 11px;
  /* background-color: #2C7BE5; */
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

.card-holiday p {
  color: #252A34;
  margin-bottom: 0.3rem !important;
  font-size: 24px;
  font-weight: 400 !important;
  margin-left: 1.5rem;
  text-decoration: none;
}

.card-holiday-child {
  margin-top: -6px;
  margin-bottom: -12px;
  margin-left: 16px;
}

.line_style {
  margin: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.holiday_list {
  /* margin: -3px; */
}